{% extends "base.html" %}
{% load uni_form_tags %}

<link href='http://fonts.googleapis.com/css?family=Cabin:regular,bold&v1' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/global.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/static/css/uni-form.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/blue.uni-form.css" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
        <script src="/static/js/uni-form-validation.jquery.js" type="text/javascript"></script>

{% block title %}Authorize {{ client.name }}{% endblock %}

{% block content %}

<style>
	        table { border:none }
			        </style>

	<div class="row">
	<div class="well span8">
	<h2>Allow <i>{{ client.name }}</i> to</h2>
	<div class="form-actions">
		{% if scopes %}
		<table class="table table-condensed">
			{% for scope in scopes %}
			<tr>
				<td style="border-top: none; vertical-align:middle;">
					<div class="span" style="border-color: #46a546; padding: 2px 3px 0px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px 3px 3px 3px; border-width:1px; border-style:solid; border-top-style:solid; margin: 20px 10px 20px">
						<h4><div class="" style="margin:-13px 0px 0px; background-color:#46a546; text-align:center; padding: 4px 20px 4px; font-weight: bold; white-space: pre-wrap; -webkit-border-radius: 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius: 0px 0px 3px 3px; color: #ffffff;"> {{ scope.description | safe }}</div></h4>
						<strong>{{ scope.description_extra | safe }}</strong>
				</div>
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>

	<div class="form_container">
	{% uni_form form helper %}
	</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			$('form.uniForm').uniform();
		});
	</script>

	</div>

{% endblock %}
