*.log
*.pot
*.pyc
*.swp
local_settings.py
SECURE_*
TEMP_*
LOCAL_*
.DS_Store
*.orig


sensible_data_service/connectors/connector_funf/tester.py

log/*.txt
sensible_data_service/connectors/connector_funf/temp/*


sensible_data_service/connectors/resp.html

sensible_data_service/connectors/connector_funf/resp.html

*.db

sensible_data_service/connectors/connector_funf/multi_tester.py

sensible_data_service/sensible_data_service/settings.py
