<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load staticfiles %}
<html lang="en">
<head>
<noscript>
	<meta http-equiv="refresh" content="0; url={% url "noscript" %}" />
</noscript>
<link rel="icon"
	type="image/png"
	href="{% static "img/favicon.png" %}">
    <meta charset="utf-8">
    <title>SensibleDTU</title>
    <meta name="description" content="">
    <meta name="author" content="Arkadiusz Stopczynski">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE-edge" />
	<script>
		try {
			NodeList;
			HTMLCollection;
			} catch (err) {
			window.location = "{% url "changebrowser" %}";
		}
	</script>
	<style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
			<div class="nav"><img src="{% static "img/red_logo5_40px.png" %}"></div>
            <a class="brand">SensibleDTU</a>
            <ul class="nav">
            </ul>
			<ul class="nav pull-right">
				{% if user.is_authenticated %}
				<a class="btn btn-primary" disabled>
					<i class="icon-user icon-white"></i>
					{% if user.first_name != '' %}
					{{ user.first_name }}
					{% elif user.email != '' %}
					{{ user.email }}
					{% else %}
					{{ user.username }}
					{% endif %}
				</a>
				{% endif %}
			</ul>


        </div>
    </div>
</div>


<div class="container">

{% bootstrap_messages %}

{% block content %}Empty page{% endblock %}

<p><hr></p>

<footer class="row">
<div class="span6">
	<p>This is <a href="https://github.com/organizations/MIT-Model-Open-Data-and-Identity-System">SensibleDTU</a>, an <a href="http://openpds.media.mit.edu/">openPDS system</a>

	<span class="label label-important">0.1.2-devel</span></p>
</div>

<div class="span6" style="text-align:right">
<p>
&copy; <a href="https://raw.github.com/MIT-Model-Open-Data-and-Identity-System/SensibleData-Service/master/sensible_data_service/documents/legal_notices">Technical University of Denmark</a> 2013
|
<a href="https://raw.github.com/MIT-Model-Open-Data-and-Identity-System/SensibleData-Platform/master/LICENSE">software license</a>
</p>
</div>

 <div class="span">
	         <p><a rel="license" href="https://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/80x15.png" /></a> <span xmlns:dct="https://purl.org/dc/terms/" property="dct:title"></span> licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.</p>
			     </div>

</footer>
</div> <!-- container -->

</body>
</html>
