{% extends "base.html" %}

{% block content %}

<div class="page-header">
	      <h1>Service Status</h1>
</div>


<div class="row">

	<div class="well span">
		<h2>You</h2>
		<hr>
		<p class="lead">username: {{ user.username }}</p>
		<p class="lead">email: {{ user.email }}</p>
	</div>
	
	<div class="well span">
		<h2>Users</h2>
		<hr>
		<p class="lead">Users: <span id="users_no"></span></p>
		<p class="lead">Informed Consents: <span id="users_informed_consent_no"></span></p>
		<p>Last refreshed: <span id="users_last_refreshed"></span></p>
	</div>
	
	<div class="well span">
		<h2>Database</h2>
		<hr>
		<p class="lead">Status: <span id="database_status"></span></p>
		<p class="lead">URI: <span id="database_uri"></span></p>
		<p class="lead">Data Size: <span id="database_data_size"></span></p>
		<p class="lead">Storage Size: <span id="database_storage_size"></span></p>
		<p class="lead">Objects: <span id="database_objects"></span></p>
		<p class="lead">Indexes: <span id="database_indexes"></span></p>
		<p class="lead">Collections: <span id="database_collections"></span></p>
		<p>Last refreshed: <span id="database_last_refreshed"></span></p>
	</div>
</div>
<div class="row">	
	<div class="well span">
		<h2>Questionnaires</h2>
		<hr>
		<p class="lead">Documents: <span id="questionnaires_documents_no"></span></p>
		<p class="lead">Users: <span id="questionnaires_users"></span></p>
		<p class="lead">Finished: <span id="questionnaires_finished"></span></p>
		<p class="lead">Male: <span id="questionnaires_male"></span></p>
		<p class="lead">Female: <span id="questionnaires_female"></span></p>
		<p>Last refreshed: <span id="questionnaires_last_refreshed"></span></p>
	</div>
	
<!---	<div class="well span">
		<h2>Facebook</h2>
		<hr>
		    <table class="table">
    			<tr>
				<th><h3>Data</h3></th>
				<th><h3>Documents</h3></th>
				<th><h3>Users</h3></th>
			</tr>
			<tr>
				<td><p class="lead">Birthday </p></td>
				<td><center><span class="lead" id="facebook_birthday_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_birthday_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Education </p></td>
				<td><center><span class="lead" id="facebook_education_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_education_users"></span></center></td>	
			</tr>
			<tr>
				<td><p class="lead">Feed </p></td>
				<td><center><span class="lead" id="facebook_feed_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_feed_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Friend lists </p></td>
				<td><center><span class="lead" id="facebook_friendlists_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_friendlists_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Friend requests </p></td>
				<td><center><span class="lead" id="facebook_friendrequests_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_friendrequests_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Friends </p></td>
				<td><center><span class="lead" id="facebook_friends_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_friends_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Groups </p></td>
				<td><center><span class="lead" id="facebook_groups_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_groups_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Hometown </p></td>
				<td><center><span class="lead" id="facebook_hometown_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_hometown_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Interests </p></td>
				<td><center><span class="lead" id="facebook_interests_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_interests_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Likes </p></td>
				<td><center><span class="lead" id="facebook_likes_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_likes_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Location </p></td>
				<td><center><span class="lead" id="facebook_location_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_location_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Locations </p></td>
				<td><center><span class="lead" id="facebook_locations_doc"></span></center></td>	
				<td><center><span class="lead" id="facebook_locations_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Political </p></td>
				<td><center><span class="lead" id="facebook_political_doc"></span></center></td>
				<td><center><span class="lead" id="facebook_political_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Religion </p></td>
				<td><center><span class="lead" id="facebook_religion_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_religion_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Statuses </p></td>
				<td><center><span class="lead" id="facebook_statuses_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_statuses_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Work </p></td>
				<td><center><span class="lead" id="facebook_work_doc"></span></center></td>
				<td><center><span class="lead" id="facebook_work_users"></span></center></td>
			</tr>
    		    </table>
		<p>Last refreshed: <span id="facebook_last_refreshed"></span></p>
	</div>-->

	<div class="well span">
		<h2>Facebook</h2>
		    <table class="table">
    			<tr>
				<th><h4> </h4></th>
				<td><h4>Birthday </h4></td>
				<td><h4>Education </h4></td>
				<td><h4>Feed </h4></td>
				<td><h4>FriendLists </h4></td>
				<td><h4>FriendRequests </h4></td>
				<td><h4>Friends </h4></td>
				<td><h4>Groups </h4></td>
				<td><h4>Hometown </h4></td>
				<td><h4>Interests </h4></td>
				<td><h4>Likes </h4></td>
				<td><h4>Location </h4></td>
				<td><h4>Locations </h4></td>
				<td><h4>Political </h4></td>
				<td><h4>Religion </h4></td>
				<td><h4>Statuses </h4></td>
				<td><h4>Work </h4></td>
				
			</tr>
			<tr>
				<th><h4>Documents</h4></th>
				<td><center><span class="lead" id="facebook_birthday_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_education_doc"></span></center></td>
				<td><center><span class="lead" id="facebook_feed_doc"></span></center></td>
				<td><center><span class="lead" id="facebook_friendlists_doc"></span></center></td>
				<td><center><span class="lead" id="facebook_friendrequests_doc"></span></center></td>
				<td><center><span class="lead" id="facebook_friends_doc"></span></center></td>		
				<td><center><span class="lead" id="facebook_groups_doc"></span></center></td>	
				<td><center><span class="lead" id="facebook_hometown_doc"></span></center></td>	
				<td><center><span class="lead" id="facebook_interests_doc"></span></center></td>
				<td><center><span class="lead" id="facebook_likes_doc"></span></center></td>
				<td><center><span class="lead" id="facebook_location_doc"></span></center></td>
				<td><center><span class="lead" id="facebook_locations_doc"></span></center></td>
				<td><center><span class="lead" id="facebook_political_doc"></span></center></td>
				<td><center><span class="lead" id="facebook_religion_doc"></span></center></td>	
				<td><center><span class="lead" id="facebook_statuses_doc"></span></center></td>	
				<td><center><span class="lead" id="facebook_work_doc"></span></center></td>

			</tr>
			<tr>
				<th><h4>Users</h4></th>
				<td><center><span class="lead" id="facebook_birthday_users"></span></center></td>		
				<td><center><span class="lead" id="facebook_education_users"></span></center></td>
				<td><center><span class="lead" id="facebook_feed_users"></span></center></td>	
				<td><center><span class="lead" id="facebook_friendlists_users"></span></center></td>
				<td><center><span class="lead" id="facebook_friendrequests_users"></span></center></td>
				<td><center><span class="lead" id="facebook_friends_users"></span></center></td>
				<td><center><span class="lead" id="facebook_groups_users"></span></center></td>
				<td><center><span class="lead" id="facebook_hometown_users"></span></center></td>
				<td><center><span class="lead" id="facebook_interests_users"></span></center></td>
				<td><center><span class="lead" id="facebook_likes_users"></span></center></td>		
				<td><center><span class="lead" id="facebook_location_users"></span></center></td>	
				<td><center><span class="lead" id="facebook_locations_users"></span></center></td>
				<td><center><span class="lead" id="facebook_political_users"></span></center></td>	
				<td><center><span class="lead" id="facebook_religion_users"></span></center></td>
				<td><center><span class="lead" id="facebook_statuses_users"></span></center></td>
				<td><center><span class="lead" id="facebook_work_users"></span></center></td>
			</tr>
    		    </table>
		<p>Last refreshed: <span id="facebook_last_refreshed"></span></p>
	</div>

<!--	<div class="well span">
		<h2>Mobile</h2>
		<hr>
		    <table class="table">
    			<tr>
				<th><h3>Data</h3></th>
				<th><h3>Documents</h3></th>
				<th><h3>Users</h3></th>
			</tr>
			<tr>
				<td><p class="lead">Bluetooth</p></td>
				<td><center><span class="lead" id="mobile_BluetoothProbe_doc"></span></center></td>		
				<td><center><span class="lead" id="mobile_BluetoothProbe_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Call Log</p></td>
				<td><center><span class="lead" id="mobile_CallLogProbe_doc"></span></center></td>		
				<td><center><span class="lead" id="mobile_CallLogProbe_users"></span></center></td>	
			</tr>
			<tr>
				<td><p class="lead">Cell</p></td>
				<td><center><span class="lead" id="mobile_CellProbe_doc"></span></center></td>		
				<td><center><span class="lead" id="mobile_CellProbe_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Contact</p></td>
				<td><center><span class="lead" id="mobile_ContactProbe_doc"></span></center></td>		
				<td><center><span class="lead" id="mobile_ContactProbe_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Hardware Info</p></td>
				<td><center><span class="lead" id="mobile_HardwareInfoProbe_doc"></span></center></td>		
				<td><center><span class="lead" id="mobile_HardwareInfoProbe_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Location</p></td>
				<td><center><span class="lead" id="mobile_LocationProbe_doc"></span></center></td>		
				<td><center><span class="lead" id="mobile_LocationProbe_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Screen</p></td>
				<td><center><span class="lead" id="mobile_ScreenProbe_doc"></span></center></td>		
				<td><center><span class="lead" id="mobile_ScreenProbe_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">SMS</p></td>
				<td><center><span class="lead" id="mobile_SMSProbe_doc"></span></center></td>		
				<td><center><span class="lead" id="mobile_SMSProbe_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Time Offset</p></td>
				<td><center><span class="lead" id="mobile_TimeOffsetProbe_doc"></span></center></td>		
				<td><center><span class="lead" id="mobile_TimeOffsetProbe_users"></span></center></td>
			</tr>
			<tr>
				<td><p class="lead">Wifi</p></td>
				<td><center><span class="lead" id="mobile_WifiProbe_doc"></span></center></td>		
				<td><center><span class="lead" id="mobile_WifiProbe_users"></span></center></td>
			</tr>
    		    </table>
		<p>Last refreshed: <span id="mobile_last_refreshed"></span></p>
	</div>-->

	<div class="well span">
		<h2>Mobile</h2>
		    <table class="table">
			<tr>
				<th><h4> </h4></th>
				<td><h4>Bluetooth </h4></td>
				<td><h4>CallLog </h4></td>
				<td><h4>Cell </h4></td>
				<td><h4>Contact </h4></td>
				<td><h4>Hardware </h4></td>
				<td><h4>Location </h4></td>
				<td><h4>Screen </h4></td>
				<td><h4>SMS </h4></td>
				<td><h4>TimeOffset </h4></td>
				<td><h4>Wifi </h4></td>
			</tr>
    			<tr>
				<th><h4>Documents</h4></th>
				<td><center><span class="lead" id="mobile_BluetoothProbe_doc"></span></center></td>
				<td><center><span class="lead" id="mobile_CallLogProbe_doc"></span></center></td>
				<td><center><span class="lead" id="mobile_CellProbe_doc"></span></center></td>
				<td><center><span class="lead" id="mobile_ContactProbe_doc"></span></center></td>	
				<td><center><span class="lead" id="mobile_HardwareInfoProbe_doc"></span></center></td>	
				<td><center><span class="lead" id="mobile_LocationProbe_doc"></span></center></td>
				<td><center><span class="lead" id="mobile_ScreenProbe_doc"></span></center></td>
				<td><center><span class="lead" id="mobile_SMSProbe_doc"></span></center></td>
				<td><center><span class="lead" id="mobile_TimeOffsetProbe_doc"></span></center></td>
				<td><center><span class="lead" id="mobile_WifiProbe_doc"></span></center></td>	
			</tr>
			<tr>
				<th><h4>Users</h4></th>		
				<td><center><span class="lead" id="mobile_BluetoothProbe_users"></span></center></td>
				<td><center><span class="lead" id="mobile_CallLogProbe_users"></span></center></td>
				<td><center><span class="lead" id="mobile_CellProbe_users"></span></center></td>
				<td><center><span class="lead" id="mobile_ContactProbe_users"></span></center></td>
				<td><center><span class="lead" id="mobile_HardwareInfoProbe_users"></span></center></td>
				<td><center><span class="lead" id="mobile_LocationProbe_users"></span></center></td>
				<td><center><span class="lead" id="mobile_ScreenProbe_users"></span></center></td>
				<td><center><span class="lead" id="mobile_SMSProbe_users"></span></center></td>
				<td><center><span class="lead" id="mobile_TimeOffsetProbe_users"></span></center></td>
				<td><center><span class="lead" id="mobile_WifiProbe_users"></span></center></td>
			</tr>
    		    </table>
		<p>Last refreshed: <span id="mobile_last_refreshed"></span></p>
	</div>

</div>

<script>

	window.setInterval("refresh()", 180000);
	
	var api_uri = '{{ api_uri }}';

	refresh();

	function refresh() {
		refreshUsers();
		refreshDatabase();
		refreshQuestionnaires();
		refreshFacebook();
		refreshMobile();
	}		

	function refreshUsers() {
		$.get(
		api_uri,
		{query : 'users'},
		function(data) {gotUsers(data)}
		);

	}

	function gotUsers(data) {
		users = jQuery.parseJSON( data );
		var d=new Date();
		var t=d.toLocaleTimeString();
		document.getElementById('users_last_refreshed').innerHTML = t;
		document.getElementById('users_no').innerHTML = users['users_no'];
		document.getElementById('users_informed_consent_no').innerHTML = users['users_informed_consent_no'];
	}
	
	function refreshDatabase() {
		$.get(
		api_uri,
		{query : 'database'},
		function(data) {gotDatabase(data)}
		);

	}
	
	function gotDatabase(data) {
		database = jQuery.parseJSON( data );
		var d=new Date();
		var t=d.toLocaleTimeString();
		document.getElementById('database_last_refreshed').innerHTML = t;
		document.getElementById('database_status').innerHTML = database['database_status'];
		document.getElementById('database_uri').innerHTML = database['database_uri'];
		document.getElementById('database_data_size').innerHTML = Math.round(database['database_stats']['dataSize']/1048576.0)+'MB';
		document.getElementById('database_storage_size').innerHTML = Math.round(database['database_stats']['storageSize']/1048576.0)+'MB';
		document.getElementById('database_indexes').innerHTML = database['database_stats']['indexes'];
		document.getElementById('database_objects').innerHTML = database['database_stats']['objects'];
		document.getElementById('database_collections').innerHTML = database['database_stats']['collections'];
	}
	
	function refreshQuestionnaires() {
		$.get(
		api_uri,
		{query : 'questionnaires'},
		function(data) {gotQuestionnaires(data)}
		);

	}

	function gotQuestionnaires(data) {
		questionnaires = jQuery.parseJSON( data );
		var d=new Date();
		var t=d.toLocaleTimeString();
		document.getElementById('questionnaires_last_refreshed').innerHTML = t;
		document.getElementById('questionnaires_documents_no').innerHTML = questionnaires['documents_no'];
		document.getElementById('questionnaires_users').innerHTML = questionnaires['users'];
		document.getElementById('questionnaires_finished').innerHTML = questionnaires['finished'];
		document.getElementById('questionnaires_male').innerHTML = questionnaires['male'];
		document.getElementById('questionnaires_female').innerHTML = questionnaires['female'];
	}

	function refreshFacebook() {
		$.get(
		api_uri,
		{query : 'facebook'},
		function(data) {gotFacebook(data)}
		);

	}

	function gotFacebook(data) {
		facebook = jQuery.parseJSON( data );
		var d=new Date();
		var t=d.toLocaleTimeString();
		var sections=new Array() 
		sections = ['birthday','education','feed','friendlists','friendrequests','friends','groups','hometown','interests','likes','location','locations','political','religion','statuses','work']
	
		document.getElementById('facebook_last_refreshed').innerHTML = t;
		for (i=0; i<sections.length; i++){
			document.getElementById('facebook_'+sections[i]+'_doc').innerHTML = facebook[sections[i]+'_doc'];
			document.getElementById('facebook_'+sections[i]+'_users').innerHTML = facebook[sections[i]+'_users'];
		}
	}

	function refreshMobile() {
		$.get(
		api_uri,
		{query : 'mobile'},
		function(data) {gotMobile(data)}
		);
	}

	function gotMobile(data) {
		mobile = jQuery.parseJSON( data );
		var d=new Date();
		var t=d.toLocaleTimeString();
		var sections=new Array() 
		sections =['BluetoothProbe','CallLogProbe','CellProbe','ContactProbe','HardwareInfoProbe','LocationProbe','ScreenProbe','SMSProbe','TimeOffsetProbe','WifiProbe']
	
		document.getElementById('mobile_last_refreshed').innerHTML = t;
		for (i=0; i<sections.length; i++){
			document.getElementById('mobile_'+sections[i]+'_doc').innerHTML = mobile[sections[i]+'_doc'];
			document.getElementById('mobile_'+sections[i]+'_users').innerHTML = mobile[sections[i]+'_users'];
		}
	}

</script>



{% endblock %}
